// COLOR VARIABLES
$color-white: #fff;
$color-primary-light: #999;
$color-primary-dark: #777;
$color-grey-light: #cacaca;
$color-grey-dark: #646060;

// FONT VARIABLES
$font-primary: 'Nunito',
sans-serif;
$font-display: 'Josefin Sans',
sans-serif;




*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10px/16px ->  1rem=10px
}

body {
    box-sizing: border-box;
    padding: 3rem;
}


.content {}