%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    line-height: 1;

}

.heading-2 {
    @extend %heading;
    font-size: 2rem;
    line-height: 1;

}

.post {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    &__metadata {
        font-size: 1.2rem;

        &--date {

           
        }

        &--tag {


        }
        
    }

    &__title {
        color: orangered;
    }

    &__content {
        font-size: 1.7rem;

    }

    &__author {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;

    }


    &__body-text {
        font-family: $font-display;
        font-size: 1.2rem;

    }
    
}

.comment {

    &__author {


    }

    &__body-text {


    }
}