.header {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;

    &__logo {
        height: 5rem;
        justify-self: center;
    }
}

.navigation {

    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        
    }

    &__list {


    }

    &__item {


    }

    &__link {


    }
}
