.header {
    height: 85vh;
    background-image: linear-gradient(to right bottom,
            rgba($color-primary-light, 0.4),
            rgba($color-primary-dark, 0.8)),
        url(../img/home-bg.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    &__logo--box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3rem;
    }

    &__text--box {
        /* first align the text-box relative to the parent-body element... */
        position: absolute;
        top: 40%;
        left: 50%;
        display: block;
        /* ...then move the element itself again relative to the fixed top, left x y position */
        transform: translate(-50%, -50%);
        /* centre the button which is text */
        text-align: center;
    }

}