{%  extends "base.html" %}
{% load static from staticfiles %}
{%  block content %}

<div class="blog">
    {% for entry in entries %}
    <div class="blog__header">
        <h1 class="heading-1 blog__name">{{ entry.blog.name }}</h1>
        <p class="blog__tagline">{{ entry.blog.tagline }}</p>
        <p class="blog__author">{{ entry.author.name }}</p>
    </div>
    <div class="blog__headline">
        <h2 class="heading-2 blog__headline">{{ entry.headline }}</h2>
    </div>
    <p><a href="{% url 'BlogDetail' entry.id %}" class="btn btn-default btn-primary">Read
            more</a></p>
    {% endfor %}
    <br>
</div>



{%  endblock content %}