{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}

<section class="single-blog">
    <div class="detailed-post">
        <h2 class="heading-1 detailed-post__headline">Headline: {{ post.headline }}</h2>
        <h2 class="heading-2 detailed-post__tagline">Tagline: {{ post.title.tagline }}</h2>
        <h1 class="heading-1 detailed-post__title">Title: {{ post.title.name }}</h1>
        <p class="detailed-post__author">Author: {{ post.author }} | {{ post.meta_data.created_on }}</p>
        <p class="detailed-post__content">Content: {{ post.content|safe }}</p>
        <p class="detailed-post__metadata">Updated: {{ post.meta_data.updated_on }}</p>
        <div class="row">
            <a href="{% url 'blogs' %}" class="btn btn-primary">&larr; Return to blogs</a>
            <a href="{% url 'edit' post.slug %}" class="btn btn-primary">Edit post &rarr;</a>
            <a href="{% url 'delete' slug=post.slug %}" class="btn btn-primary">Delete post &rarr;</a>

        </div>

        {% for comment in post.comments.all %}

        <p class="comment__author">Comment by: {{ comment.name }} | {{ comment.created_on }}</p>
        <p class="comment__content">{{ comment.comment_text|safe }}</p>

        {% empty %}

        <div class="row">
            <p>No comments yet</p>
        </div>

        {% endfor %}
        <div class="row">
            <a class="btn btn-default btn-primary" href="{% url 'add_comment' pk=post.pk %}">Add
                comment</a>
        </div>
    </div>
</section>

{% endblock content %}