{%  extends "base.html" %}
{% load static from staticfiles %}
{%  block content %}

    <article>
        <section class="hero">
            {% for post in posts %}
            <div class="blog__header">
                <h1>{{ post.title }}</h1>
                <p>{{ post.author }} | {{ post.created_on}}</p>
                <p>{{post.content|slice:":200" }}</p>
                <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            {% endfor %}        
        </section>
    </article>

{%  endblock content %}