@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  80% {
    -webkit-transform: translate(1rem);
            transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  80% {
    -webkit-transform: translate(1rem);
            transform: translate(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  80% {
    -webkit-transform: translate(-1rem);
            transform: translate(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [full-start] 1fr [center-start] ([col-start] 1fr [col-end])[3] [center-end] [full-end];
      grid-template-columns: [full-start] 1fr [center-start] repeat(3, [col-start] 1fr [col-end]) [center-end] [full-end];
}

.heading-1, .heading-2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 2rem;
  line-height: 1;
}

.heading-2 {
  font-size: 1rem;
  line-height: 1;
}

.blogs {
  grid-column: center-start / center-end;
  margin: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.single-blog {
  grid-column: center-start / center-end;
  margin: 2rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content, 1fr;
      grid-template-columns: -webkit-min-content, 1fr;
      grid-template-columns: min-content, 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
}

.post__metadata {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  list-style: none;
  font-size: 1.4rem;
}

.post__metadata--date a {
  text-decoration: none;
}

.post__metadata--tag a {
  text-decoration: none;
}

.post__title {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  font-size: 2rem;
}

.post__title a {
  color: orangered;
  text-decoration: none;
}

.post__content {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  font-size: 1.7rem;
}

.post__author {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  font-size: 1.2rem;
  font-weight: 400;
  font-style: italic;
}

.post__body-text {
  display: -ms-grid;
  display: grid;
  grid-column: 1 / -1;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.2rem;
}

.detailed-post {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-columns: min-content, 20%;
      grid-template-columns: -webkit-min-content, 20%;
      grid-template-columns: min-content, 20%;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
}

.detailed-post__metadata {
  display: -ms-grid;
  display: grid;
  list-style: none;
  font-size: 1.4rem;
}

.detailed-post__title {
  font-size: 2rem;
}

.detailed-post__title a {
  color: orangered;
  text-decoration: none;
}

.detailed-post__tagline {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
}

.detailed-post__content {
  font-size: 1.7rem;
}

.detailed-post__author {
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
}

.detailed-post__content {
  font-size: 1.4rem;
  font-weight: 400;
}

.comment {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
}

.comment__author {
  font-size: 1.4rem;
  font-weight: 400;
  font-style: italic;
}

.comment__content {
  font-size: 1.7rem;
  font-weight: 400;
}

.header {
  height: 85vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: full-start / full-end;
      grid-template-columns: full-start / full-end;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(153, 153, 153, 0.4)), to(rgba(119, 119, 119, 0.8))), url(../img/home-bg.jpg);
  background-image: linear-gradient(to right bottom, rgba(153, 153, 153, 0.4), rgba(119, 119, 119, 0.8)), url(../img/home-bg.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}

.header__text--box {
  /* first align the text-box relative to the parent-body element... */
  position: absolute;
  top: 40%;
  left: 50%;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  /* ...then move the element itself again relative to the fixed top, left x y position */
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* centre the button which is text */
  text-align: center;
}

.navbar {
  display: -ms-grid;
  display: grid;
  grid-column: full-start / -1;
  -ms-grid-row-align: start;
      align-self: start;
}

.nav {
  padding: 10px;
  -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo--box {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.nav__logo {
  height: 3.25rem;
  margin-left: 1rem;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
}

.nav__item:last-child {
  margin-right: 0px;
}

.nav__link {
  text-decoration: none;
}

.nav__link--item {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: #f4f2f2;
  border: none;
  padding: 1.2rem 2rem;
  border-radius: 100px;
  width: 90%;
  margin-right: -3.25rem;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}

.search__button {
  border: none;
  background-color: #f4f2f2;
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.search__icon {
  height: 2rem;
  width: 2rem;
  fill: color-grey-dark-3;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.74rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 2rem;
  margin: 4px 2px;
  display: inline-block;
  border-radius: .4rem;
  background-color: orange;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */